<!DOCTYPE html>
<html>
<title>Agregar Retos</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">
      <div class="w3-white w3-text-grey w3-margin-bottom w3-card-4">
        <div class="w3-display-container">
          <div class="w3-container">
            <div class="w3-container">
              <h4 ><b>Premios:</b></h4>
            </div>
            <div class="w3-container w3-opacity">
              <h6 ><a href=""><b>Crear</b></a></h6>
            </div>
            <div class="w3-container w3-opacity">
              <h6><a href=""><b>Ver</b></a></h6>
            </div>
            <div class="w3-container w3-opacity">
              <h6><a href=""><b>Actualizar</b></a></h6>
            </div>
            <div class="w3-container w3-opacity">
              <h6><a href=""><b>Borrar</b></a></h6>
            </div>
            <div class="w3-container">
              <h4 ><b>Desafios:</b></h4>
            </div>
            <div class="w3-container w3-opacity">
              <h6><a href=""><b>Crear</b></a></h6>
            </div>
            <div class="w3-container w3-opacity">
              <h6><a href=""><b>Ver</b></a></h6>
            </div>
            <div class="w3-container w3-opacity">
              <h6><a href=""><b>Actualizar</b></a></h6>
            </div>
            <div class="w3-container w3-opacity">
              <h6><a href=""><b>Borrar</b></a></h6>
            </div>
            <div class="w3-container w3-opacity">

            </div>
            <div class="w3-container">
              <h4 ><b>Tier:</b></h4>
            </div>
            <div class="w3-container w3-opacity">
              <h6><a href=""><b>Crear</b></a></h6>
            </div>
            <div class="w3-container w3-opacity">
              <h6><a href=""><b>Ver</b></a></h6>
            </div>
          </div>
          </div>
      </div>
    </div>
    <div class="w3-twothird">
      <div class="w3-container w3-card w3-white w3-margin-bottom center">
          <a  href="https://seeklogo.com/vector-logo/168795/colpatria"><img src="https://seeklogo.com/images/C/colpatria-logo-30EE948429-seeklogo.com.png" width="120" height="90" alt="HTML Dog"></a>
          <div class="w3-container">
            <h2 ><b>Agregar Reto: </b></h2>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Nombre:</b></h5><input type="text" name="Nombre">
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Descripcion:</b></h5><input type="text" name="Descripcion">
          </div>
          <h5 class="w3-opacity"><b>Tipo Semanal/Mensual:</b></h5>
          <select name="Tipo">
            <option value="1">Semanal</option>
            <option value="2">Mensual</option>
          </select>
          <div class="w3-display-container">
          </div>
          <h5 class="w3-opacity"><b>Numero:</b></h5>
          <select name="Numero">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <div class="w3-display-container">
          </div>
        <h5 class="w3-opacity"><b>Tier Asociado:</b></h5>
          <select name="tierAsociado">
          <option value="1">Tier 1</option>
          <option value="2">Tier 2</option>
          <option value="3">Tier 3</option>
          <option value="4">Tier 4</option>
          </select>
          <div class="w3-display-container">
          </div>
        <h5 class="w3-opacity"><b>Grupo Asociado:</b></h5>
          <select name="GrupoAsociado">
          <option class="w3-opacity" value="1">0. Nada</option>
          <option class="w3-opacity" value="2">1. Viajes</option>
          <option class="w3-opacity" value="3">2. Comida</option>
          <option class="w3-opacity" value="4">3. Tecnologia</option>
          <option class="w3-opacity" value="11">4. Deportes</option>
          <option class="w3-opacity" value="12">5. Hoger</option>
          </select>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Link Imagen:</b></h5><input type="text" name="imagen">
          </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><button type="button">Enviar</button></h5>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
